Browse.VC.db
.DS_Store
v16
build/*
*.py.in
cmake.db
*/resources.zip
requirements.txt
todo.txt
.vs/*

# Doxygen generated documentation
doc/html/
doc/latex/
doc/xml/
doc/*.log
doc/doxygen_sqlite3.db
delivery/doc/